apiKey=66eb1ce2c7ec4d8cb85927520be49e45e21f275370a74c85b6448e42aaea8d99
userKey=252027c909a74fc5856dc735b43fff170c9b080871c74e19a7ff31ff20a4462f
projectName=productintelligent
productName=Intelliservice
productVersion=
productToken=cc8beab040d44dd1b49e7cf63bb9faaf6afc3b6f307944bc80d0839892e8d235
projectPerFolder=false
projectPerFolderExcludes=""
wss.url=https://saas-eu.whitesourcesoftware.com/agent

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

resolveAllDependencies=false
maven.resolveDependencies=true

includes=**/*.jar
case.sensitive.glob=false
followSymbolicLinks=true

